{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load hyphen_break %}


{% block content %}
<div class="container">
<div style="margin-top: -15px;">
<img  class="img-fluid " src="{% static 'img/back.png' %}" /> 
<div class="bg-text"> 
<h4 style="color: rgb(211, 192, 24);"><i><b>Important Notice</b></i></h4>
<p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<P class="text_center">If you're the Admin begin through the Management module.</P>
<p>If you're a Lecturer or a Student proceed to the Timetable menu for views.</p>  
The HODs' can communicate to the admin through the talk to  us menu. 
</p>
</div></div></div></div>
{% endblock %}
